/* UTILITIES */

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
body
{
    font-family: 'Forum', cursive;
    font-family: 'Montserrat', sans-serif;  

    font-size: 20px;
}
   
a 
{
    text-decoration: none;  /*get rid of underline*/
}
   
/* NAVBAR STYLING */
.navbar 
{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #a5d19d;
    color: #fff;
}

.nav-links a 
{
    color: #fff;
}


.name
{
    font-family: 'Forum', cursive;
    font-size: 40px;
    float: left;
    width: 90%;
    margin-left: 30px;
}
   
/* NAVBAR MENU */
.menu 
{
    display: flex;  /* flexible box layout module, makes it easier to design flexible responsive layout structure without using float or positioning*/
    gap: 1em;   /*The gap property defines the size of the gap between the rows and columns*/
    font-size: 20px;
    list-style: none;   /*get rid of listed style by default*/
}
   
.menu li:hover 
{
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;  /*CSS transitions allows you to change property values smoothly, over a given duration.*/
                            /*ease - specifies a transition effect with a slow start, then fast, then end slowly (this is default)*/
}
   
.menu li 
{
    padding: 5px 14px;
}

/*------------------------------------MY IMAGE + INFORMATION ABOUT ME-------------------------------------------------*/

.whiteBackground
{
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
    padding: 25px 40px;
    height: 400px;
}

.profile_img
{
    width: 25%;
}

.info
{
    position: relative;
    display: inline;
    font-size: 18px;
    left: 30%;
    bottom: 270px;
    /*border: 1px solid purple;*/
}

.moreInfo
{
    width: 61%;
    text-align: justify;
}

.tourTitle
{
    margin-top: -50px;
    margin-bottom: 30px;
}

ul
{
    margin-left: 20px;
}

/*------------------------------------RESPONSIVE NAVBAR MENU----------------------------------------*/
/* CHECKBOX HACK */
input[type=checkbox]
{
    display: none;
} 


/*HAMBURGER MENU*/
.hamburger 
{
    display: none;
    font-size: 24px;
    user-select: none;

    padding-left: 90%;
}


/* Create two equal columns that floats next to each other */
.column 
{
    float: left;
    padding: 30px;   

    background-color: rgba(245, 230, 204, 0.3);

}

.column.left
{
    width: 100%;
}

.column.left p
{
    font-weight: 600;
}

.column.left a:hover
{
  color: #F29900;
}

.column.left a
{
	color: #1CA600;
}

.column.left a:link 
{
  text-decoration: none;
}
  
.row
{
  margin: auto;
  margin-top: 40%;
  width: 74.5%;
  padding: 10px;
}

.row:after 
{
    content: "";
    display: table;
    clear: both;    /* Clear floats after the columns */
}

.aboutUs
{
    margin-top: 3%;
    margin-bottom: 5%;
}

/* PICTURE GALLERY */
.container 
{
    margin: 40px auto;  /*to make centered*/
    width: 73.5%;
    height: auto;
    overflow: hidden;
}

.photo 
{
    position: absolute;
    animation: round 16s infinite;
    opacity: 0;
}

@keyframes round 
{
    25% 
    {
      opacity: 1;
    }

    40% 
    {
      opacity: 0;
    }
}

@keyframes round
{
    25% 
    {
      opacity: 1;
      -webkit-opacity: 1;
    }

    40% 
    {
      opacity: 0;
      -webkit-opacity: 0;
    }
}

  
img:nth-child(1) 
{
    animation-delay: 12s;
}
  
img:nth-child(2) 
{
    animation-delay: 10s;
}
  
img:nth-child(3) 
{
    animation-delay: 8s;
}

img:nth-child(4) 
{
    animation-delay: 6s;
}
  
img:nth-child(5) 
{
    animation-delay: 4s;
}
  
img:nth-child(6) 
{
    animation-delay: 2s;
}
  
img:nth-child(7) 
{
    animation-delay: 0s;
}


/*------------------------------------FOOTER-----------------------------------------------------*/

footer
{
    margin-left: 13.4%;
    margin-right: 13.4%;
    padding: 20px;

    background-color: rgba(114, 204, 255, 0.2);
}

p.rights
{
    text-align: right;
}

.socialMedia::after
{
  content: "";
  clear: both;
  display: table;
}

.meta img
{
    width: 7%;

    float: left;

    padding: 5px;
}

/*---------------------------------MEDIA QUERIES---------------------------------------------------*/

@media (max-width: 1419px)
{
    
    .container
    {
     max-width: 100%;    
     overflow: hidden;  
    }

    .photo
    {
     max-width: 100%;    
     height: auto;
    }
}


@media (max-width: 1123px)  /*visually didn't like how it was looking, so decided to get rid of title*/
{
    .name
    {
        visibility: hidden;
        font-size: 0px;
    }
} 


@media (max-width: 807px)
{
    .column.left                                           
    {
        width: 100%;
        display: block;
    }
}


@media (max-width: 768px) 
{

    html, body 
    {
        overflow-x: hidden;
    }

    body 
    {
        position: relative
    }

    .navbar
    {
        display: block;
    }

   .menu 
   { 
    display:none;
    position: relative; 
    background-color: #a5d19d;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;

    margin-top: 10px;
   }

   .menu li:hover 
   {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;  /*CSS transitions allows you to change property values smoothly, over a given duration.*/
                            /*ease - specifies a transition effect with a slow start, then fast, then end slowly (this is default)*/
   }

   .menu li + li 
   {
    margin-top: 12px;
   }

   input[type=checkbox]:checked ~ .menu
   {
    display: block;
   }

   .hamburger 
   {
    display: block;
   }

   .container
    {
        width: 100%;
    }


    @media only screen and (orientation: landscape) 
    {
        .container
        {
            margin: 0;
        }

        .navbar
        {
            padding-right: 0;
        }

        .aboutUs
        {
            margin-top: 0;
        }
    }

    .row
    {
        width: 100%;
        margin-top: 60%;
    }

    .aboutUs
    {
        text-align: justify;
    }

    footer
    {
        width: 100%;
        margin: 0;
    }

    h1
    {
        font-size: 30px;
    }

    .socialMedia
    {
        margin-top: 5%;
    }

    .meta img
    {
        width: 15%;
    }

    .linkedIn
    {
        padding-top: 2px;
    }

    p.rights
    {
        text-align: left;
    }

    /*---------------------------ABOUT ME------------*/
    .profile_img
    {
        width: 50%;
        margin-top: 50px;
        margin-left: 20px;
    }

    .whiteBackground
    {
        padding: 10px 0px;
        height: auto;
    }

    .info
    {
        font-size: 15px;
        left: 48%;
        bottom: 5px;
    }

    .tourTitle
    {
        margin-top: -250px;
        margin-left: -160px;
        margin-bottom: 230px;
        font-size: 30px;
    }
    
    .moreInfo
    {
        margin-left: -159px;
        margin-top: 180px;
        width: 330px;
    }
}
